.go-up-btn {
   position: fixed;
   z-index: 1000;
   bottom: 55px;
   right: 30px;
   width: 70px;
   height: 70px;
   border-radius: 70px;
   color: $main-bg-color;
   background-color: $header-bg-color;
   box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.25);
   text-align: center;
   cursor: pointer;
   opacity: 0;
   visibility: hidden;
   transition: visibility 0.2s, opacity 0.2s;
   & p {
      font-family: OpenSans;
      @include font-style(20px, 20px, 0, 600);
      margin-top: 15px;
   }
}
.show-go-up-btn {
   opacity: 0.9;
   visibility: visible;
}
