.modal-bg {
  position: absolute;
  top: 0;
  left: 0;

  width: 20px;
  height: 20px;

  border-radius: 50%;

  background-color: rgba(0, 0, 0, 0.8);

  transform: scale(0);
  transform-origin: center;

  transition: 1s;
}

.modal-window {
  position: fixed;
  top: 2%;
  left: 100%;
  z-index: 100002;

  width: 90%;

  padding: 30px 20px;

  background-color: #fff;
  border-radius: 15px;

  transition: 0.3s ease-in-out;

  @include media-tablet {
    padding: 50px 30px 30px;
  }

  &__open-btn {
    position: fixed;
    bottom: 200px;
    right: 30px;
    z-index: 100001;

    width: 20px;
    height: 20px;

    background-color: #e39128;
    border-radius: 50%;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.4), 0 0 rgba(139, 139, 139, 0.2), 0 0 0 10px rgba(139, 139, 139, 0.2), 0 0 0 20px rgba(139, 139, 139, 0.2),
      0 0 0 30px rgba(139, 139, 139, 0.2);

    cursor: pointer;
    animation: shine 0.8s alternate-reverse infinite;
  }

  &__close-btn {
    position: absolute;
    top: 10px;
    right: 10px;

    width: 30px;
    height: 30px;

    text-decoration: none;

    cursor: pointer;

    &:hover::after,
    &:hover::before {
      background-color: #e39128;
    }

    &::after,
    &::before {
      position: absolute;
      top: 50%;
      right: 0;

      width: 30px;
      height: 2px;

      background-color: #000;

      content: '';
      transform: rotate(45deg);
      transition: 0.2s ease-in-out;
    }

    &::before {
      transform: rotate(-45deg);
    }
  }
  &__text-container {
    width: 100%;
    height: 100%;

    h1 {
      font-size: 1.8vmax;
    }

    & p,
    ol {
      margin-top: 1.5vh;

      font-size: 1.3vmax;

      @include media-small-desktop {
        margin-top: 1.8vh;

        font-size: 1.7vh;
      }
    }

    & ol li {
      margin-left: 20px;
      margin-top: 1.5vh;

      font-style: italic;

      @include media-small-desktop {
        margin-top: 1.8vh;
      }
    }
  }
}

@keyframes shine {
  100% {
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.4), 0 0 0 10px rgba(139, 139, 139, 0.2), 0 0 0 20px rgba(139, 139, 139, 0.2),
      0 0 0 30px rgba(139, 139, 139, 0.2), 0 0 0 40px rgba(139, 138, 138, 0);
  }
}
